scrolledwindow undershoot.top, scrolledwindow undershoot.right, scrolledwindow undershoot.bottom, scrolledwindow undershoot.left { background-image: none; }

/*
# ############################################
PANNELLO 1
# ############################################
*/

/* [1] Gestore delle impostazioni */
#launcher-27 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-27 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [2] Terminale di Xfce */
#launcher-4 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-4 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [3] Il gestore dei file Thunar */
#launcher-5 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-5 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [4] Gestore dei processi */
#launcher-26 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-26 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [5] Gestore applicazioni */
#launcher-44 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-44 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [6] Timeshift */
#launcher-2 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-2 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [7] Firefox */
#launcher-3 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-3 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [8] Thunderbird */
#launcher-23 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-23 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [9] Gpick */
#launcher-15 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-15 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [10] Pix */
#launcher-22 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-22 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [11] Gimp */
#launcher-13 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-13 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [12] Inkscape */
#launcher-21 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-21 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [13] LibreOffice */
#launcher-17 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-17 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [14] Editor di testo (xed) */
#launcher-25 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-25 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [15] VLC */
#launcher-24 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-24 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [16] Goodvibes */
#launcher-16 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-16 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [17] Calcolatrice */
#launcher-19 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-19 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [18] Calendario */
#launcher-20 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-20 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/*
# ############################################
PANNELLO 3
# ############################################
*/
/* [1] Catfish ricerca dei file */
#launcher-37 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-37 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [2] Svuota cestino */
#launcher-38 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-38 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [3] Sessione */
#launcher-39 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-39 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [4] Terminale di Xfce (a discesa) */
#launcher-40 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-40 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* [5] Mostra/Nascondi Calendario */
#launcher-41 #launcher-arrow {
        border-bottom: 2px solid transparent;
}

#launcher-41 #launcher-arrow:hover {
        border-bottom: 2px solid #5341AC;
}

/* Selettore spazi di lavoro */
#pager-42 #xfce-panel-toggle-button {
        background: #282828;
        color: #BEBEC0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	    margin-left: 4px;
        padding-left: 6px;
        padding-right: 6px;
        font-family: "RobotoMono Nerd Font SmBd";
        font-size: 9pt;
}

#pager-42 #xfce-panel-toggle-button:checked {
        background: #5657F5; opacity: 1;
        color: #BEBEC0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	    margin-left: 4px;
        padding-left: 6px;
        padding-right: 6px;
        box-shadow: none;
        font-family: "RobotoMono Nerd Font SmBd";
        font-size: 9pt;
}

#pager-42 #xfce-panel-toggle-button:hover {
        background: #5657F5; opacity: 0.5;
	    color: #BEBEC0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	    margin-left: 4px;
        padding-left: 6px;
        padding-right: 6px;
        font-family: "RobotoMono Nerd Font SmBd";
        font-size: 9pt;
}

/*xfce4-systemload-plugin*/
#systemload-43 box label {
        font-family: "RobotoMono Nerd Font SmBd";
        font-size: 9pt;
}
